*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.square{
    margin: 0;
}

.hovered{
    background-color: rgba(0, 0, 0, 0.555);
}