*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 6.25%;
    height: 6.25%;
}